[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST=cart-dev.devops-practice.tech
Environment=CART_PORT=8080
Environment=USER_HOST=user-dev.devops-practice.tech
Environment=USER_PORT=8080
Environment=AMQP_HOST=rabbitmq-dev.devops-practice.tech
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123
##Environment=AMQP_PASS=ROBOSHOP_USER_PASSWORD

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target